@tailwind base;
@tailwind components;
@tailwind utilities;

.body {
  background: green;
}

.react-calendar {
  width: 100% !important;
  border: none !important;
  font-family: "Inter", sans-serif !important;
}

.react-calendar__navigation__label__labelText {
  font-weight: 600;
}

.react-calendar__tile--active {
  background-color: #4aca8a !important;
  color: black !important;
}

.rbc-btn-group:first-child {
  display: none !important;
}

.rbc-toolbar-label {
  text-align: right !important;
  padding: 0px 20px !important;
}

.rbc-btn-group:last-child {
  font-size: 13px !important;
}

.rbc-btn-group:last-child button {
  border: none !important;
  background-color: #1607e9 !important;
  margin-left: 2px !important;
}

.rbc-toolbar button.rbc-active {
  background-color: #0a04b1 !important;
  box-shadow: none !important;
}

.rbc-time-view {
  border-color: #32eb04 !important;
}

.rbc-time-header {
  display: none !important;
}

.rbc-time-content {
  border: none !important;
}

.rbc-time-gutter.rbc-time-column {
  font-size: 12px !important;
}

.rbc-time-gutter.rbc-time-column .rbc-timeslot-group {
  padding: 0px 20px !important;
}

.rbc-timeslot-group {
  background-color: rgb(148, 159, 163) !important;
}

.rbc-day-slot {
  font-size: 14px !important;
}

.rbc-event {
  border: none !important;
  color: black !important;
  padding: 10px !important;
  margin: 10px !important;
  width: 99% !important;
}

.rbc-event:nth-child(1) {
  background-color: #bfcace !important;
}
.rbc-event:nth-child(2) {
  background-color: #fefce8 !important;
}
.rbc-event:nth-child(3) {
  background-color: #f2f1ff !important;
}
.rbc-event:nth-child(4) {
  background-color: #fdf2fb !important;
}
.rbc-event:nth-child(5) {
  background-color: #c0c9cc !important;
}
.rbc-event:nth-child(6) {
  background-color: #d1d1ca !important;
}
.rbc-event:nth-child(7) {
  background-color: #b9b7d6 !important;
}
.rbc-event:nth-child(8) {
  background-color: #afa2ad !important;
}

.rbc-event-label{
  color: rgb(8, 1, 1)!important;
  margin-bottom: 5px;
}